@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.nav {
    padding-bottom: 30px;
}

#hero {
    background-image: url("./images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    padding: 50px 50px 0px 50px;
    overflow:auto;
    box-shadow: 1px 0px 5px hsl(193, 100%, 96%);
}

.hero-text {
    width: 530px;
    margin-top: 70px;
}

.logo {
    width: 180px;
}

#mockup-image {
    width: 700px;
}

.default-button {
    border-radius: 30px;
    box-shadow: 1px 1px 5px hsl(208, 11%, 55%);
    background-color: white;
    color: black;
    font-weight: 700;
    width: 140px;
    padding: 10px;
}

.pink-button {
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    color: white;
    font-weight: 600;
    width: 270px;
    /* height: 50px; */
    padding: 15px;
    font-size: 15px;
}

.content-container {
    border-radius: 20px;
    box-shadow: 1px 1px 10px hsl(193, 100%, 96%);
    width: 1000px;
    height: 330px;
    padding: 37px;
    font-size: 15px;
    margin-top: 30px;
}

.content-image {
    width: 370px;
}

.grow-text {
    width: 43%;
    padding: 70px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: lightgray;
    font-size: 12px;
    padding: 150px 90px 50px 90px;
    overflow: auto;
}

.footer {
    display: flex;
}

.footer-nav {
    font-size: 14px;
    margin-left: 10%;
}

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
  }
  
  li {
    margin-bottom: 20px;
  }

  a {
      color: white;
      text-decoration: none;
      font-weight: 100;
  }

  #footer-icons {
    margin-top: 30px;
    margin-left: 10%;
  }

  ion-icon {
    font-size: 30px;
    padding: 5px;
  }

  #floating {
    display: block;
    z-index: 0;
    position: absolute;
    bottom: -1700px;
    left: 350px;
    width: 600px;
    height: 150px;
    border: lightgray;
    box-shadow: 0px 0px 3px 1px hsl(193, 100%, 96%);
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
  }

/* HELPER CLASSES */

.muted-text {
    color: gray;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.p-15 {
    padding: 15px;
}


